@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Expletus+Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    width: 100%;
    display: flex;
    padding: 0px 65px 0px;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 9vh;
    box-shadow: 0 1px 3px #e6e6e6;
}

.logo, .logo:active, .logo:visited{
    font-family: 'Expletus Sans', cursive;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    color: #2b2b2b;
}

.description {
    font-size: 19px;
}

main {
    width: 100%;
    min-height: 79vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

h2 {
    color: #a0a0a0;
    text-align: center;
}

.cabecera {
    width: 100%;
}

.cabecera p {
    color: #bebebe;
    font-size: 17px;
    margin: 10px 0 20px;
    text-align: center;
}

.cabecera p b {
    border-bottom: 1px dashed;
}


.resultados {
    margin-top: 40px;
    width: 900px;
    max-width: 95vw;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resultado {
    width: 250px;
    min-height: 300px;
    padding-bottom: 10px;
    border: 1px solid #d8d8d8;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow ease .3s,
    transform ease .3s;
}

.resultado:hover {
    box-shadow: 0 1px 16px #c7c7c7;
    transform: translateY(-2px);
}

.resultado .image {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
}

.image img {
    width: 100%;
}

.resultado .desc {
    border-bottom: 1px solid #d8d8d8;
}

.resultado .desc .position {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: #0097ff;
    /*background-image: linear-gradient(to right bottom, #fe958b, #ff8284, #ff6e81, #ff5781, #fd3c84);
    background-image: linear-gradient(to right bottom, #5370f8, #0097ff, #00b8ff, #00d4ff, #3cecfd);*/
}

.resultado .desc .name {
    color: #383838;
    padding-left: 10px;
}

.resultado .file_desc .titule {
    display: inline-block;
    padding: 6px 5px 0 12px;
    font-weight: bold;
    color: #5370f8;
}

.resultado .file_desc .filename {
    color: #383838;
}


footer {
    height: 12vh;
    border-top: 1px solid #e6e6e6;
    color: #7e7e7e;
}

.names {
    display: flex;
}

.names > p {
    margin-left: 10px;
}